{% extends 'management/base.html' %}
{% load static %}
{% block content %}
<h2>Storefront Management</h2>

<!---- Stats ----->
<div class="stats">
    <div class="stats__item">
        <div class="stats__title">
            <p>Number of Products</p>
        </div>
        <div class="stats__content">
            <h1>{{ number_products }}</h1>
        </div>
    </div>
    <div class="stats__item">
        <div class="stats__title">
            <p>Featured Products</p>
        </div>
        <div class="stats__content">
            <h1>{{ number_featured }}</h1>
        </div>
    </div>
</div>

<div class="card">
    <div class="card__title">
        <h2> Current Featured Products</h2>
    </div>
    <div class="card__data">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            {% for product in featured_products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.created_at }}</td>
                <td>{{ product.updated_at }}</td>
                <td>{{ product.wants_product_updates }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<section class="control-panel">
    <div class="actions">
        <div class="buttons">
            <div class="button button--secondary">
                <a href="{% url 'add_featured_product' %}">Add a Feature Product</a>
            </div>
            <div class="button">
                <a href="{% url 'all_featured_products' %}">View All Featured Products</a>
            </div>
            <div class="button button--dangerous">
                <a href="{% url 'remove_featured_product' %}">Remove a Featured Product</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}