{% extends 'management/base.html' %}
{% load static %}
{% block additional_css_files %}
<link rel="stylesheet" href="{% static 'management/blog/edit/edit_post.css' %}">
{% endblock %}
{% block content %}
<table class="styled-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.created_at }}</td>
                <td>{{ product.updated_at }}</td>
                <td>{{ product.wants_product_updates }}</td>
                <td><button>Delete</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}