{% extends 'management/base.html' %}
{% load static %}
{% block content %}
<h2>Announcements Management</h2>
{% if announcement %}
<div>
    <div>
        <h3>Header</h3>
        <p>{{ announcement.header }}</p>
    </div>
    {% if announcement.subheader %}
    <div>
        <h3>Subheader</h3>
        <p>{{ announcement.subheader}}</p>
    </div>
    {% endif %}
    <div>
        <h3>Announcement Body</h3>
        <p>{{ announcement.content }}</p>
    </div>
    {% if announcement.date_expiration %}
    <div>
        <h3>Expiration Date</h3>
        <p>{{ announcement.date_expiration }}</p>
    </div>
    {% endif %}

    {% if announcement.link %}
    <div>
        <h3>Link</h3>
        <p>{{ announcement.link }}</p>
    </div>
    {% endif %}

    {% if announcement.button_text %}
    <div>
        <h3>Button</h3>
        <p>{{ announcement.button_text }}</p>
    </div>
    {% endif %}

</div>
{% else %}
<h3>No announcement active</h3>
{% endif %}
<section class="control-panel">
    <div class="buttons">
        <div class="button button--secondary">
            <a href="{% url 'create_announcement' %}">Create New Announcement</a>
        </div>
        <div class="button">
            <a href="{% url 'edit_announcement' %}">Edit Current Announcement</a>
        </div>
        <div class="button">
            <a href="{% url 'all_announcements' %}">View Archived Announcements</a>
        </div>
        <div class="button button--dangerous">
            <a href="{% url 'remove_announcement' %}">Delete Current Announcement</a>
        </div>
    </div>
</section>
{% endblock %}