{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'management/management.css' %}"/>
    {% block additional_css_files %} {% endblock %}
</head>
<body>
<div class="sidebar">
    <div class="sidebar__breadcrumb">
        <a href="/"> < Back to Main Site </a>
    </div>
    <div class="sidebar__header">
        <h1>Site Management</h1>
    </div>
    {% with request.resolver_match.url_name as url_name %}
    <div class="sidebar__links">
        <div class="link {%if url_name == 'management_landing'%} link--active {%endif%}">
            <a href="{% url 'management_landing' %}">Home</a>
        </div>
        <div class="link {%if url_name == 'blog_management'%} link--active {%endif%}">
            <a href="{% url 'blog_management' %}">Blog</a>
        </div>
        <div class="link {%if url_name == 'storefront_management'%} link--active {%endif%}">
            <a href="{% url 'storefront_management' %}">Storefront</a>
        </div>
        <div class="link {%if url_name == 'announcements_management'%} link--active {%endif%}">
            <a href="{% url 'announcements_management' %}">Announcements</a>
        </div>
        <div class="link {%if url_name == 'newsletter_management'%} link--active {%endif%}">
            <a href="{% url 'newsletter_management' %}">Newsletter</a>
        </div>
        <div class="link {%if url_name == 'gallery_management'%} link--active {%endif%}">
            <a href="{% url 'gallery_management' %}">Gallery</a>
        </div>
    </div>
    {% endwith %}
</div>
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>
