{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block additional_css_files %}
    {% endblock %}
</head>
<body>
<div style="text-align:center;">
    <h1>Christian Wash Garvey</h1>
</div>
<div style="display:flex;">
    <div style="flex: 1 1 20%;text-align:center">
        <a href="/">Home</a>
    </div>
    <div style="flex: 1 1 20%;text-align:center">
        <a href="/shop">Shop</a>
    </div>
    <div style="flex: 1 1 20%;text-align:center">
        <a href="/blog">Blog</a>
    </div>
        <div style="flex: 1 1 20%;text-align:center">
        <a href="/about">About</a>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>