{% extends 'management/base.html' %}
{% load static %}
{% block additional_css_files %}
<link rel="stylesheet" href="{% static 'management/blog/landing/landing.css' %}">
{% endblock %}

{% block content %}
<h3>All Posts</h3>
<table class="styled-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Date Created</th>
        <th>Last Modified On</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.subtitle }}</td>
        <td>{{ post.date_created }}</td>
        <td>{{ post.date_last_modified }}</td>
        <td>{{ post.status }}</td>
        <td><a href="#">View</a></td>
        <td><a href="#">Edit</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}