{% extends 'management/base.html' %}
{% load static %}
{% block content %}

<h2>Blog management</h2>
<div class="stats">
    <div class="stats__item">
        <div class="stats__title">
            <p>Total Posts</p>
        </div>
        <div class="stats__content">
            <h1>{{ post_count }}</h1>
        </div>
    </div>
    <div class="stats__item">
        <div class="stats__title">
            <p>Posts Published</p>
        </div>
        <div class="stats__content">
            <h1>{{ published_post_count }}</h1>
        </div>
    </div>
    <div class="stats__item">
        <div class="stats__title">
            <p>Posts Drafted</p>
        </div>
        <div class="stats__content">
            <h1>{{ drafted_post_count }}</h1>
        </div>
    </div>
</div>
<div class="card">
    <div class="card__title">
        <h2>Recent Posts</h2>
    </div>
    <div class="card__data">
        <table class="styled-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Date Created</th>
                <th>Last Modified On</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.subtitle }}</td>
                <td>{{ post.date_created }}</td>
                <td>{{ post.date_last_modified }}</td>
                <td>{{ post.status }}</td>
                <td><a href="#">View</a></td>
                <td><a href="{% url 'edit_post' post.id %}">Edit</a></td>
                <th><a href="{% url 'delete_post' post.id %}">Delete</a></th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<section class="control-panel">
    <div class="buttons">
        <div class="button button--secondary">
            <a href="{% url 'add_post' %}">Create Post</a>
        </div>
        <div class="button">
            <a href="{% url 'all_posts' %}">View All Posts</a>
        </div>
    </div>
</section>

{% endblock %}