{% extends "admin/base_site.html" %}
{% load static %}
{% block title %}Blog Post Editor{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/add_post/editor.css' %}">
<h1>Blog Post Builder</h1>
<div>
    <div>
        <button id="add-big-header-btn">Add Big Header</button>
    </div>
    <div id="add-small-header-btn">
        <button>Add Small Header</button>
    </div>
    <div id="add-text-section-btn">
        <button>Add Text Section</button>
    </div>
</div>
<div>
<h1>Build a New Blog Post</h1>
</div>
<div id="document">

</div>
<script src="{% static 'blog/add_post/editor.js' %}"></script>
{% endblock %}