.toolbar {
    display: flex;
    padding: 15px;
    border-radius: 6px;
    background-color: #ddd;
    width: 85%;
    margin: auto;
    text-align: center;
    position: sticky;
    top: 20px;
}

.btn-group {
    flex: 1 0 45%;
    display: flex;
}

    .btn-group > div {
        flex: 1 0 25%;
    }

.submit {
    flex: 1 0 45%;
    display: flex;
    justify-content: right;
}

    .submit > * {
        flex: 0 0 25%;
    }

#document {
    background: #ddd;
    border-radius: 8px;
    height: 100vh;
}
    #document > * {
        padding: 10px;
        align-content: center;
        color: black;
    }
    #document > div:focus {
        background-color: blue;
    }

.big-header {
    margin: 0;
}
