body {
    margin: 0;
    display: flex;
    border-collapse: collapse;
    font-family: sans-serif;
    
}

.sidebar {
    flex: 0 0 20%;
    border-radius: 6px;
    background-color: #4a69bd;
    min-height: 100vh;
}

.sidebar__breadcrumb {
    padding-top: 1rem;
    padding-left: 1rem;
}

    .sidebar__breadcrumb > a {
        text-decoration: underline;
        color: white;
    }

.content {
    flex: 1 1 80%;
    padding: 1rem;
}

.sidebar__header {
    padding: 1rem;
    
    color: white;
}


.link {
    background-color: #1e3799;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

    .link > a {
        text-decoration: none;
        color: white;
        margin-left: 1rem;
    }

    .link:hover{
        background-color: #0c2461;
    }

.link--active {
    background-color: #6a89cc;
}

.stats {
    display: flex;
}

.stats__item {
    flex: 1 1 25%;
    text-align: center;
    padding: 1rem;
}

.card {
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem 2rem;
}

.card__data {
    overflow-y: scroll;
    max-height: 400px;
    padding: 1rem;
}


.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    overflow: scroll;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: rgba(143, 178, 204, 0.87);

}

.styled-table thead {
    position: sticky;
    top: 0;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #cfcdcd;
}

/*

Action Button Styling

 */
.control-panel {
    padding: 1rem;
}
.buttons {
    display: flex;

}
.buttons svg {
    color: white;
}

.button {
    background-color: #1e3799;
    flex: 1 0 15%;
    border-radius: 6px;
    margin: 1rem;
    color: white;
    transition: background-color 200ms;
    align-content: center;
}

    .button a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1rem;
    }

    .button:hover {
        background-color: #4a69bd;
    }

.button--dangerous {
    background-color: #e55039;
}

    .button--dangerous:hover {
        background-color: #eb2f06;
    }

/* social media tab at the top */
/* uiverse.css */

/* .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .uiverse-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2d2e32;
    border: 2px solid #2d2e32;
    transition: all 0.45s;
  }
  
  .uiverse-button:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    background-color: #ffff;
    color: #2d2e32;
  }
  
  .uiverse-button:hover .btn-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
  } */
  